/* Universal Styles */

html {
	font-size: 18px;
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
}

@media only screen and (max-width: 560px) {
	html {
		font-size: 15px;
	}
}

input:focus {
	outline: none;
}

/* Reusable Component - Image Container */

.image-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	background: #000;
}

.image-container img {
	width: 100%;
}

/* App Styles */

.App {
	font-family: 'Work Sans', sans-serif;
}

h1 {
	padding: 0.66rem 0;
	margin: 0;
	padding-left: 3%;
	text-align: left;
	background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
	font-family: Poppins, sans-serif;
	font-size: 1.8rem;
	color: #fff;
}
